
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/.qodo

# System files
.DS_Store
Thumbs.db

# Ignore virtual environment
myenv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment config
*.env

# Ignore SQLite DB if not needed
*.sqlite3

# Ignore system files
.DS_Store
0da1ad8aff0abd98a324e80b08bc585d100150c8
