/* Chatbot Container and Icon */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  text-align: center;
}

.chatbot-icon {
   color: white;
    border: none; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    font-size: 24px; 
    cursor: pointer;

    img{
      height: 100%;
      width: 100%;
    }
}

.chatbot-text {
  display: block;
  margin-bottom: 5px; /* Space between text and icon */
  font-size: 13px;
  color: #3b3085;
  font-family: Arial, sans-serif;
}

/* Chat Interface */
.chat-interface {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 350px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;

  &.expanded{
    width: 100vw;
    height:100vh;
    bottom: 0;
    right: 0;
    border-radius: 0;
    z-index: 9999;

    .chat-body{
      max-height: calc(100vh - 120px); 
    }
  }
}

.chat-header {
  background-color: #e56175;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 6px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  background-color: #f9f9f9;
  max-height: 400px;
}


.message-text {
  word-wrap: break-word; /* Wrap text to prevent overflow */
  overflow-wrap: break-word; /* Alternative for text wrapping */
  white-space: normal; /* Allow text wrapping */
 }
 
.message-container {
  display: flex;
  align-items: flex-start;
  // margin-bottom: 5px;
  width: 100%;
  gap: 8px;
  

  .message-icon{
    margin-right: 10px;
  }

  .message-icon, .user-message-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0; /* Prevent icon from shrinking */
  }
  .user-message-icon {
    background-color: #f5dce4;
    border-radius: 50%;
    margin-left: 10px;
  }

  p {
    margin: 0;
    padding: 1px 14px;
    background-color: #f1f1f1;
    border-radius: 12px;
    max-width: 75%;
    word-wrap: break-word;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, "sans-serif", Apple Color Emoji, Segoe UI Emoji;;
    font-size: 14px;
    line-height: 1.5;
    text-align:left;
  }
 
}

/* Align user messages to the right */
.user-message {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  width: 100%;
  margin-top: 10px;

  p {
    background-color: #f5b1b1;
    color: #4a2828;
    max-width: 80%;
    margin-right: 25px;
  }
}

/* Align bot messages to the left */
.bot-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;

  p {
    background-color: rgb(229, 231, 235);
    color: #111927;
    max-width: 80%;
    margin-left: 20px;
  }
}

.loading-indicator {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: gray;
  animation: typing-animation 1s infinite;
}
@keyframes typing-animation {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* horizontal name + icon line */
.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

/* bot message name */
.message-name {
  font-size: 13px;
  font-weight: 600;
  color: #1A1B25;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, "sans-serif", Apple Color Emoji, Segoe UI Emoji;
}

/* user message name */
.user-header .message-name {
  color: #4a2828;
}


/* align user header to right side */
.user-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-header {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.chat-interface.expanded .message-container p {
  max-width: 100%;
}


.chat-footer {
  display: flex;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;

  .input-container {
    position: relative;
    flex: 1;
    max-width: 100%;

    input {
      width: 100%;
      padding: 10px 40px 10px 10px; 
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 14px;
      height: 40px;
      box-sizing: border-box;
    }

    button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      font-size: 16px;
      padding: 0;
      margin: 0;
      color: #e56175;
      cursor: pointer;
    }
  }
}


/* Responsive Adjustments */
@media (max-width: 600px) {
  /* Adjust for mobile phones */
  .chat-interface {
    width: 70%; /* Use almost full width */
    bottom: 20px; /* Adjust position */
    right: 5%; /* Center the chat */
  }

  .chatbot-container {
    bottom: 20px; /* Adjust placement */
    right: 5px; /* Make room for smaller screens */
  }

  .chatbot-icon {
    width: 50px;
    height: 50px;
  }

  .chat-footer input {
    font-size: 12px;
    padding: 4px;
  }

  .chat-footer button {
    font-size: 12px;
    padding: 2px 4px; /* Reduce padding */
  }
}
