<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>
<div class="chatbot-container">
  <!-- Text Message -->
  <span class="chatbot-text">Need help? Ask Us!</span>

  <!-- Chatbot Icon -->
  <img
    src="chat-icon.png"
    alt="Chatbot Icon"
    class="chatbot-icon"
    (click)="toggleChat()"
  />

  <!-- Chat Interface -->
  <div
    *ngIf="chatVisible"
    class="chat-interface"
    [ngClass]="{ expanded: isExpanded }"
  >
    <!-- Chat Header -->
    <div class="chat-header">
      <h4>Midland Bank AI Assistant</h4>
      <div class="chat-header-buttons">
        <button (click)="toggleExpand()" class="expand-btn">
          <i
            class="fa-solid"
            [ngClass]="isExpanded ? 'fa-compress' : 'fa-expand'"
          ></i>
        </button>
        <button (click)="toggleChat()">×</button>
      </div>
    </div>

    <!-- Chat Body -->
    <div #chatBody class="chat-body">
      <div *ngFor="let message of chatHistory" class="message-container" #messageElement>
        <div
          [ngClass]="{
            'user-message': message.isUser,
            'bot-message': !message.isUser
          }"
        >
          <!-- BOT MESSAGE -->
          <div *ngIf="!message.isUser" class="message-wrapper">
            <div class="message-header">
              <img src="chat-icon.png" alt="Bot Icon" class="message-icon" />
              <span class="message-name">Midland Bank AI Assistant</span>
            </div>
            <p #messageText [innerHTML]="message.text | linebreaks"></p>
            <span *ngIf="message.isLoading" class="loading-indicator"></span>
          </div>

          <!-- USER MESSAGE -->
          <div *ngIf="message.isUser" class="message-wrapper user-side">
            <div class="message-header user-header">
              <img
                src="user-icon.png"
                alt="User Icon"
                class="user-message-icon"
              />
              <span class="message-name">Me</span>
            </div>
            <p [innerHTML]="message.text | linebreaks"></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Chat Footer -->
    <div class="chat-footer">
      <div class="input-container">
        <input
          maxlength="1000"
          #chatInput
          type="text"
          [(ngModel)]="userQuery"
          placeholder="Message Assistant"
          (keydown.enter)="sendMessage()"
        />
        <button (click)="sendMessage()">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div>
